@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.footerItem {
 background-color: aqua;
 bottom: 1em;
 text-align: center;
 width: 100vw;
}


.nav {
    list-style: none;
    background-color: aqua;
    display: block;
    text-align: center;
    flex-direction: column;
    top: 1em;
    font-size: 1.25em;
}
  
.nav li {
    display: inline;
    padding: 0 0.5rem;
}

.nav li a:hover {
    transition: 200ms ease-in;
    color: tomato;
  }
